{% extends "base.html" %}


<h4>se connecter ici</h4>
{% block content %}

{% for message in messages %}
<strong>{{ message }}</strong>

{% endfor %}
<form method="post" action="/login">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter you username"required>
    <br>
    <label for="fistname">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter you password"required>
    <br>
    <button type="submit">se connecter</button>
</form>
{% endblock content %} 
